
<h3><%= @professor.name %></h3>
<p>Age: <%= @professor.age %></p>
<p>Specialty: <%= @professor.specialty %></p>
<p>Students:
  <% @professor.students.each do |student| %>
  <%= student.name%>
  <% end %>
